<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
</head>
<body>
    <h1>Welcom to DAN Gym Members App</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet aliquid optio, explicabo, qui corporis iste ut similique quia nisi quos, voluptas at autem cum expedita! Perspiciatis exercitationem ex libero sed?</p>
    <nav>
        <a href="/member">View members</a>
        <a href="/form">View form</a>
    </nav>

</body>
</html>